body {
  background: yellow;
  margin: 20px;
}

img {
  border-radius: 50px;
  border: 2px solid #000;
  display: block;
  margin: 0 auto; /* center the image */
  cursor: pointer;
}

h1 {
  text-align: center;
}
